doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Список страниц
        meta(name="description", content="Список страниц")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css")

    body
        .container
            .page-header
                h1 Верстка по макетам

            ul.list-group
                li.list-group-item
                    a(href='/main.html' target='_blank')
                        h4 Главная