include ../mixins/templates
block variables

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        title=title
        meta(name='description', content=description)
        link(rel='stylesheet' href=require('../../assets/scss/main.scss') )
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700;900&family=Raleway:wght@700;800;900&display=swap')

    body
        include ../blocks/header
        block content